body {
    font-family: Arial;
    font-size: 15px;
    color: black;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-left: 0;
  background: white;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 0;
}

.navbar-default {
    background-color: black;
    top:0px;
    z-index:1;
}


#logo {
    position: fixed;
    z-index:2;
    top:-3px;
    
}

h1 {
    color:white;
    text-transform: lowercase;
    font-size:14px;
    position: fixed;
    z-index:2;
    top:43px;
    left:200px;
}



#home, #contribute, #information {
    font-family: Arial;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing:1px;
    background-color: black;
    margin-right:15px;
}

#update {
    font-family: Arial;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing:1px;
    background-color: black;
    width:100%;
    border-radius:0px;
}

#home:hover, #information:hover, #update:hover {
    background-color: white;
    color:black;
}

.artist {
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 4vh;
    line-height:10%;
    margin-top:15px;
}

.title {
    font-style: italic;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2vh;
    margin-right: 2px;
    line-height:10%;
}

.year {
    font-style: italic;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 2vh;
    margin-right: 2px;
}

.medium, .dimensions {
    letter-spacing: 1px;
    margin-bottom:0px;
    font-size:16px;
}

.description {
    text-align: justify;
    margin-top: 20px;
}

.tag-label {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0px;
}

.tags {
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 0px;
}

@media (max-width: 994px) {
    .img-fluid {
        max-width:100%
    }
    
    #home {
        margin-top:2rem;
    }
}

@media screen and (min-width: 995px) {
    .navbar-nav {
        align-items: end;
    }
  
    .img-fluid {
        max-height:500px;
        max-width:500px
    }
} 

button:focus, input:focus {
  outline:0!important;
  box-shadow: none!important;
}


