<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Artwork Database</title>
  </head>
  <body>
    <div class='container'>
        
        <form method="GET" class='mb-3'>
            <div class='form-group'>
                <input placeholder='Search by Artist or Title' type="text" value="{{search_terms}}" name='search-by' class="form-control mb-1"/>
            </div>
            <input type="submit" class="btn btn-primary" value="Search"/>
        </form>
        
        <label>Filter by type:</label>
            
            <div class="form-check">
            <input class="form-check-input" type='checkbox' value='Abstract' id="type" name="type">
            <label class="form-check-label" for="Abstract">Abstract</label>
            </div>
        
        <a href="add-artwork" class="btn btn-primary">
            Add Artwork
        </a>
        
        <table class='table'>
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Artwork
                    </th>
                    <th>
                        Details
                    </th>
                    <th>
                        Type
                    </th>
                </tr>
            </thead>
            {%for each_result in results%}
            <tr>
                <td>
                   <img src=' {{ each_result['image'] }} ' style="max-height:40vh; max-width:40vw">
                </td>
                <td>
                    <i>{{ each_result['title'] }} </i><br>
                    {{ each_result['artist'] }} <br>
                    {{ each_result['description'] }}
                </td>
                <td>
                    Year: {{ each_result['year'] }} <br>
                    Dimensions: {{ each_result['dimensions'] }} <br>
                    Medium: {{ each_result['medium'] }}
                </td>
                <td>
                    {% for each_type in each_result['type'] %}
                    <span>{{ each_type }}</span>&nbsp;
                    {%endfor%}
                </td>
                <td>
                    <a href="edit-artwork/{{each_result['_id']}}">Edit</a>
                </td>
                <td>
                    <a href="confirm-delete-artwork/{{each_result['_id']}}">Delete</a>  
                    </form>
                </td>
            </tr>
             {%endfor%}
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>